<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>티쿤개발시스템</title>
    @Styles.Render("~/bundles/commoncss")
    <script data-main="/Views/Home/App/main" src="/Scripts/require.js"></script>
</head>
<body ng-cloak>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="/">TqoonDevTeam</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <i class="fa fa-cogs fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="javascript:;"><label><i class="fa fa-exclamation-triangle fa-fw"></i> 디버그모드 <input type="checkbox" ng-model="_cookie.modeDebug" ng-true-value="'1'" ng-false-value="'0'" /></label></a>
                        </li>
                        <li>
                            <a href="javascript:;"><label><i class="fa fa-exclamation-triangle fa-fw"></i> 모듈설정모두보기 <input type="checkbox" ng-model="_cookie.showAllModuleConfig" ng-true-value="'1'" ng-false-value="'0'" /></label></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation" ng-controller="root.left.navbar.ctrl as leftNavCtrl">
                <div class="sidebar-nav navbar-collapse dev-menu">
                    <ul class="nav">
                        <li>
                            <a href="#!/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-fw fa-dashboard"></i> 프로젝트 관리</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ng-show="_location.paths[2] !== 'update'" href="#!/project/create"><i class="fa fa-fw fa-wpforms"></i> 생성</a>
                                    <a ng-show="_location.paths[2] === 'update'" href="#!/project/update"><i class="fa fa-fw fa-wpforms"></i> 수정</a>
                                </li>
                                <li>
                                    <a href="#!/project/list"><i class="fa fa-fw fa-wpforms"></i> 리스트</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-fw fa-wrench"></i> 시스템 설정</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#!/systemsettings/server"><i class="fa fa-fw fa-wpforms"></i> Server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            <ng-view></ng-view>
        </div>
    </div>
</body>
</html>