<div class="row">
    <h3 class="page-header">프로젝트 관리 > 리스트</h3>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            프로젝트 리스트
        </div>
        <div class="panel-body">
            <form class="form-inline" ng-submit="ctrl.onSearch()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchValue.s" />
                </div>
                <button type="submit" class="btn btn-default">조회</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="block">프로젝트관리</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Desc</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in searchResult">
                    <td class="block">
                        <span class="label label-default" uib-tooltip="CI 서버에 연결되지 않았습니다." ng-show="item.state === 'SBREG'"><i class="fa fa-chain-broken"></i></span>
                        <span class="label label-success" uib-tooltip="CI 서버에 연결 되었습니다. Dashboard에서 진행상황을 확인하십시오." ng-show="item.state === 'REG'"><i class="fa fa-link"></i></span>
                        <span>{{$index + 1}}</span>
                    </td>
                    <td class="block">
                        <button type="button" ng-click="ctrl.onTmplModClick(item)" uib-tooltip="등록내용을 수정합니다" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                        <button type="button" ng-click="ctrl.onTmplDelClick(item)" uib-tooltip="삭제" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                        <button type="button" ng-click="ctrl.onTmplDupClick(item)" uib-tooltip="등록내용을 복제하여 새 등록을 시작 합니다." class="btn btn-xs btn-default"><i class="fa fa-copy"></i></button>
                    </td>
                    <td>{{item.category}}</td>
                    <td>{{item.name}}</td>
                    <td>{{ctrl.getDesc(item)}}</td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
        </div>
    </div>
</div>