<div style="margin-top:8px" ng-controller="dashboard.panel.ctrl as panelCtrl">
    미지원
    <!--<div c></div>
    <div class="row" ng-repeat="item in panelCtrl.getFilteredList()">
        <div class="panel panel-default dpan">
            <div class="panel-heading">{{item.Description}}</div>
            <div class="panel-body">{{item.Description}}</div>
        </div>
        <div class="panel dpan dpan-d">
            <div class="panel-body"><i class="fa fa-arrow-right"></i></div>
        </div>
        <div class="panel panel-default dpan">
            <div class="panel-body">asdf</div>
        </div>
    </div>-->
</div>