<div class="row" ng-controller="dashboard.table.ctrl as tableCtrl">
    <div style="margin-top:8px">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="alert-info">
                        <th class="block">#</th>
                        <th class="block" uib-tooltip="Admin">관리</th>
                        <th class="block" uib-tooltip="Category">카테고리</th>
                        <th class="block" uib-tooltip="ProjectName">프로젝트</th>
                        <th class="block" uib-tooltip="Last Build Time">마지막 빌드 시간</th>
                        <th class="block" uib-tooltip="Next Build Time">다음 빌드 시간</th>
                        <th uib-tooltip="Message">서버 메시지</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in projectList">
                        <td class="block">
                            <span uib-tooltip="프로젝트 상태 : {{p.Status | ccnetStatus}}">
                                <i ng-if="p.Status === 0" style="color:#337ab7" class="fa fa-play-circle"></i>
                                <i ng-if="p.Status === 1" style="color:#f0ad4e" class="fa fa-pause-circle-o"></i>
                                <i ng-if="p.Status === 2" class="fa fa-stop-circle"></i>
                                <i ng-if="p.Status === 3" class="fa fa-pause-circle"></i>
                            </span>
                            <span uib-tooltip="마지막 빌드 상태 : {{p.BuildStatus | buildStatus}}" ng-style="ctrl.getHeartBeatStype(p)"><i class="fa fa-heartbeat"></i></span>
                            <span uib-tooltip="활동 : {{p.Activity.Type}}">
                                <i ng-style="ctrl.isBuilding(p) && { 'color': 'blue' } || { 'color': 'gray' }" ng-class="{ 'spinning' :ctrl.isBuilding(p) }" class="fa fa-rotate-right"></i>
                            </span>
                        </td>
                        <td class="block">
                            <button ng-disabled="!ctrl.canForceBuild(p)" ng-if="ctrl.showForceBuild(p)" ng-click="ctrl.onForceBuild(p)" class="btn btn-primary btn-xs">Force</button>
                            <button ng-disabled="!p.ShowForceBuildButton" ng-if="!ctrl.showForceBuild(p)" ng-click="ctrl.onAbortBuild(p)" class="btn btn-danger btn-xs">Abort</button>
                            <!--<button ng-if="p.ShowStartStopButton" class="btn btn-default btn-xs">Start</button>
                            <button ng-if="p.ShowStartStopButton" class="btn btn-default btn-xs">Stop</button>-->
                        </td>
                        <td class="block">{{p.Category}}</td>
                        <td class="block" uib-tooltip="{{p.Description}}">{{p.Name}}</td>
                        <td class="block">{{p.LastBuildDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="block">
                            <span ng-if="p.NextBuildTime.startsWith('9999')">Force Build Only</span>
                            <span ng-if="!p.NextBuildTime.startsWith('9999')">
                                {{p.NextBuildTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </span>
                        </td>
                        <td>
                            <span ng-if="tableCtrl.hasBreakers(p)">&#x2022; Breakers : <span class="label label-danger" ng-repeat="msg in tableCtrl.getBreakers(p)">{{msg.Text}}</span></span>
                            <span ng-if="tableCtrl.hasFailingTasks(p)">&#x2022; FailingTasks : <span class="label label-warning" ng-repeat="msg in tableCtrl.getFailingTasks(p)">{{msg.Text}}</span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>