<div class="row">
    <h1 class="page-header">서버 설정</h1>
</div>
<div class="row" ng-if="!systemUpdateBusy">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">로컬 서버</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>서버</span>
                    <span class="pull-right">
                        <span class="label label-success" ng-if="info.serverVersion === remoteVersion">{{info.serverVersion}}</span>
                        <span class="label label-default" ng-if="(info.serverVersion !== remoteVersion) && (remoteVersion)">{{info.serverVersion}}</span>
                        <button ng-click="ctrl.systemUpdate()" class="btn btn-primary btn-xs">{{remoteVersion}} 설치 or 재설치</button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span>기본 플러그인</span>
                    <span class="pull-right">
                        <span ng-if="info.pluginInstalled" class="label label-success">{{info.pluginVersion}}</span>
                        <span ng-if="!info.pluginInstalled" class="label label-danger">설치되지않음</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-if="systemUpdateBusy">
    <div class="col-md-12">
        <div class="alert alert-warning">
            시스템을 업데이트 중 입니다.<br />작업이 완료되면 CCNET Service와 Dashbaord가 재시작 합니다.
            <button type="button" class="btn btn-warning btn-xs" ng-click="systemUpdateBusy = false" uib-tooltip="업데이트 오류 발생시 다시 시도할 수 있도록 합니다."><i class="fa fa-refresh"></i></button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">업데이트 진행중...</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="msg in msgs">
                    <span>{{msg.e.Desc}}</span>
                    <uib-progressbar style="margin-bottom:0" animate="false" value="msg.e.ProgressPercentage" type="success"><b>{{msg.e.ProgressPercentage}}%</b></uib-progressbar>
                </li>
            </ul>
        </div>
    </div>
</div>