<form name="frmScAdd" novalidate form-check>
    <div class="modal-header">
        <h3 class="modal-title">SourceControl 추가</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Control Type</label>
                <div class="col-sm-10">
                    <select class="form-control" name="type" ng-model="sc['@type']" required ng-disabled="mode === 'mod'">
                        <option value="">선택</option>
                        <option value="git">Git</option>
                        <option value="svn">Svn</option>
                        <option value="multi">Multi</option>
                    </select>
                </div>
            </div>
            <ng-include src="scTemplate[sc['@type']]"></ng-include>
        </div>
        <div ng-if="!scTemplate[sc['@type']] && sc['@type']" class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger"><strong>※ 미지원</strong> 현재 타입에 대한 에디팅 기능은 아직 지원하지 않습니다.</div>
            </div>
            <div class="col-sm-12">
                <pre>{{sc|json}}</pre>
            </div>
        </div>
    </div>
    <pre ng-if="_cookie.modeDebug === '1'">{{sc|json}}</pre>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">취소</button>
        <button type="submit" class="btn btn-primary" ng-disabled="!scTemplate[sc['@type']]" ng-click="ctrl.ok()">확인</button>
    </div>
</form>