<div ng-controller="project.step2.sc.multi.ctrl as scmultiCtrl">
    <div class="form-group">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success btn-sm" uib-tooltip="Trigger 추가" ng-click="scmultiCtrl.onScAddClick()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="list-group">
        <div ng-repeat-start="item in sc.sourceControls"></div>
        <div class="list-group-item">
            <span class="label label-primary">{{item['@type']}}</span>
            <span>{{scmultiCtrl.getDesc(item)}}</span>
            <div class="pull-right">
                <button type="button" ng-click="scmultiCtrl.onScModClick(item)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button type="button" ng-click="scmultiCtrl.onScDelClick(item)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div ng-repeat-end></div>
    </div>
</div>