<div style="padding-top:15px" ng-controller="project.step2.ctrl as step2">
    <div class="form-group">
        <button type="button" class="btn btn-success btn-sm" uib-tooltip="SourceControl 추가" ng-click="step2.onScAddClick()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-if="p.sourcecontrol && p.sourcecontrol['@type'] === 'multi'">
            <span>
                <span class="label-fix">
                    <span class="label label-primary">{{p.sourcecontrol['@type']}}</span>
                </span>
                <span>{{step2.getDesc(p.sourcecontrol)}}</span>
            </span>
            <div class="pull-right">
                <button type="button" ng-click="step2.onScModClick(p.sourcecontrol)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button type="button" ng-click="step2.onScDelClick(p.sourcecontrol)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="list-group-item" ng-if="p.sourcecontrol && !_.contains(['multi', 'nullSourceControl'], p.sourcecontrol['@type'])">
            <span>
                <span class="label-fix">
                    <span class="label label-primary">{{p.sourcecontrol['@type']}}</span>
                </span>
                <span>{{step2.getDesc(p.sourcecontrol)}}</span>
            </span>
            <div class="pull-right">
                <button type="button" ng-click="step2.onScModClick(p.sourcecontrol)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button type="button" ng-click="step2.onScDelClick(p.sourcecontrol)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>