<div style="padding-top:15px" ng-controller="project.step5.ctrl as ctrl5">
    <div class="form-group">
        <button type="button" class="btn btn-success btn-sm" uib-tooltip="Publisher 추가" ng-click="ctrl5.onPubAddClick()"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-default btn-sm" uib-tooltip="기본 Publisher 추가" ng-click="ctrl5.onDefaultPubAddClick()"><i class="fa fa-plus"></i><i class="fa fa-plus"></i></button>
    </div>
    <div class="list-group">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="item in p.publishers">
                <span class="label label-primary">{{item['@type']}}</span>
                <span>{{ctrl5.getDesc(item)}}</span>
                <div class="pull-right">
                    <button type="button" ng-click="ctrl5.onPubModClick(item)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                    <button type="button" ng-click="ctrl5.onPubDelClick(item)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                    <button type="button" uib-tooltip="순서변경" ng-disabled="$index === 0" class="btn btn-default btn-xs" ng-click="ctrl5.onOrderUpClick(item)"><i class="fa fa-arrow-circle-up"></i></button>
                    <button type="button" uib-tooltip="순서변경" ng-disabled="($index + 1) === p.publishers.length" class="btn btn-default btn-xs" ng-click="ctrl5.onOrderDownClick(item)"><i class="fa fa-arrow-circle-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>