<div class="row">
    <h1 class="page-header">서버 설정</h1>
</div>
<div class="row" ng-if="!_SystemUpdate.busy && !pluginUploading">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">로컬 서버</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>서버</span>
                    <span class="pull-right">
                        <span class="label label-success" ng-if="info.serverVersion === remoteVersion">{{info.serverVersion}}</span>
                        <span class="label label-default" ng-if="(info.serverVersion !== remoteVersion) && (remoteVersion)">{{info.serverVersion}}</span>
                        <button ng-click="ctrl.systemUpdate()" class="btn btn-primary btn-xs">{{remoteVersion}} 설치</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                플러그인
                <div class="pull-right">
                    <button ngf-select="ctrl.pluginUpload($file)" ngf-drop="ctrl.pluginUpload($file)" ngf-pattern="'.zip'" class="btn btn-default btn-xs">플러그인 추가</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>기본 플러그인</span>
                    <span class="pull-right">
                        <span class="label label-success">{{info.pluginVersion}}</span>
                    </span>
                </li>
                <li class="list-group-item" ng-repeat="item in info.externalPlugins">
                    <span>{{item.Name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-if="systemUpdating">
    <div class="col-md-12">
        <div class="alert alert-warning">
            시스템을 업데이트 중 입니다.<br />작업이 완료되면 CCNET Service와 Dashbaord가 재시작 합니다.
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">업데이트 진행중...</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="msg in systemUpdatingMsg">
                    <span>{{msg}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-if="pluginUploading">
    <div class="col-md-12">
        <div class="alert alert-warning">
            플러그인을 설치 중 입니다.<br />작업이 완료되면 CCNET Service가 재시작 합니다.
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">설치 진행중...</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>{{uploadProcess.Desc}}</span>
                    <uib-progressbar style="margin-bottom:0" animate="false" value="uploadProcess.ProgressPercentage" type="success"><b>{{uploadProcess.ProgressPercentage}}%</b></uib-progressbar>
                </li>
                <li class="list-group-item" ng-repeat="msg in systemUpdatingMsg">
                    <span>{{msg}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>