<md-dialog flex="45">
    <form name="frmProject" ng-cloak novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Project 등록</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
                <md-tab label="Project" ng-disabled="mode !== 'new'">
                    <md-content class="md-padding" ng-if="mode === 'new'">
                        <!-- ng-if를 사용하여 다른 탭에서 이 탭의 폼검증이 작동하지 않도록 한다. -->
                        <h5>기본정보</h5>
                        <md-input-container>
                            <label>이름</label>
                            <input ng-model="p.name" name="name" required type="text" md-maxlength="100" />
                            <div ng-messages="frmProject.name.$error" role="alert">
                                <div ng-message="required">이 입력란을 작성하십시오.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>설명</label>
                            <input ng-model="p.desc" name="desc" required type="text" md-maxlength="1000" />
                            <div ng-messages="frmProject.desc.$error" role="alert">
                                <div ng-message="required">이 입력란을 작성하십시오.</div>
                            </div>
                        </md-input-container>
                        <h5>트리거</h5>
                        <md-list>
                            <md-list-item ng-repeat="tr in p.triggers" ng-click="null">
                                <md-icon md-svg-icon="{{getTriggerIcon(tr)}}"></md-icon>
                                <p ng-if="tr.trtype === 'scheduleTrigger'">Schedule Trigger - {{tr.time}} / {{tr.weekDays}} / {{tr.buildCondition === 'IfModificationExists' ? 'Default' : tr.buildCondition}}</p>
                                <p ng-if="tr.trtype === 'intervalTrigger'">Interval Trigger - {{tr.seconds}} / {{tr.initialSeconds}} / {{tr.buildCondition === 'IfModificationExists' ? 'Default' : tr.buildCondition}}</p>
                                <p ng-if="tr.trtype === 'cronTrigger'">Cron Trigger - {{tr.cronExpression}} / {{tr.buildCondition === 'IfModificationExists' ? 'Default' : tr.buildCondition}}</p>
                            </md-list-item>
                            <md-list-item ng-click="addTrigger()">
                                <md-button class="md-icon-button">
                                    <md-icon md-svg-src="content:add_box"></md-icon>
                                </md-button>
                                <p>트리거 추가</p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="트리거 추가" ng-disabled="mode !== 'trigger_new'">
                    <md-content class="md-padding" ng-if="mode === 'trigger_new'">
                        <div layout="row" flex>
                            <md-input-container flex>
                                <md-tooltip md-direction="left">트리거 종류</md-tooltip>
                                <label>Trigger Type</label>
                                <md-icon md-svg-src="action:label"></md-icon>
                                <md-select name="trtype" ng-model="newTrigger.trtype" required check556>
                                    <md-option ng-repeat="item in enumCiTriggers" ng-value="item.Value">{{item.Key}}</md-option>
                                </md-select>
                                <div ng-messages="frmProject.trtype.$error" role="alert">
                                    <div ng-message="required">이 입력란을 작성하십시오.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div ng-include="getTriggerTemplateUrl()"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">취소</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-click="answer()">
                <md-progress-circular ng-show="prgsShow" class="md-accent" md-diameter="20" style="margin:auto"></md-progress-circular>
                <span ng-show="!prgsShow">{{getConfirmButtonName()}}</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>