<div style="padding-top:15px" ng-controller="project.step3.ctrl as ctrl3">
    <div class="form-group">
        <button type="button" class="btn btn-success btn-sm" uib-tooltip="Trigger 추가" ng-click="ctrl3.onTriggersAddClick()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="item in p.triggers">
            <span class="label label-primary">{{item['@type']}}</span>
            <span>{{ctrl3.getDesc(item)}}</span>
            <div class="pull-right">
                <button type="button" ng-click="ctrl3.onTriggersModClick(item)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button>
                <button type="button" ng-click="ctrl3.onTriggersDelClick(item)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>