<form name="frmTriggerAdd" novalidate form-check>
    <div class="modal-header">
        <h3 class="modal-title">Trigger 추가</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Trigger Type</label>
                <div class="col-sm-10">
                    <select class="form-control" name="type" ng-model="trigger['@type']" required>
                        <option value="">선택</option>
                        <option value="intervalTrigger">Interval</option>
                        <option value="scheduleTrigger">Schedule</option>
                        <option value="cronTrigger">Cron</option>
                        <option value="multiTrigger">Multi</option>
                        <option value="projectTrigger">Project</option>
                    </select>
                </div>
            </div>
            <ng-include src="ctrl.getTemplateUrl()"></ng-include>
        </div>
    </div>
    <pre ng-if="_cookie.modeDebug === '1'">{{trigger|json}}</pre>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">취소</button>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.ok()">확인</button>
    </div>
</form>