<div style="padding-top:15px" ng-controller="project.step1.ctrl as step">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" ng-model="p.name" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="desc" ng-model="p.description" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Category</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="category" ng-model="p.category" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">WorkingDirectory</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="workingDirectory" ng-model="p.workingDirectory" is-working-directory form-check-force />
            </div>
        </div>
    </div>
</div>