<form name="frmTaskAdd" novalidate form-check>
    <div class="modal-header">
        <h3 class="modal-title">Task 추가</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Task Plugin</label>
                <div class="col-sm-10">
                    <select class="form-control" name="type" ng-disabled="mode === 'mod'" ng-model="task['@type']" required>
                        <option value="">선택</option>
                        <option value="msbuild">MsBuild</option>
                        <option value="nuget">Nuget</option>
                        <option value="TqNunit">Nunit</option>
                        <option value="TqIIS">IIS</option>
                        <option value="TqHosts">Hosts</option>
                        <option value="TqRsync">TqRsync</option>
                        <option value="exec">Exec</option>
                        <option value="TqText">TqText</option>
                        <option value="TqForeachFromDB">ForeachFromDB</option>
                        <option value="forcebuild">ForceBuild</option>
                    </select>
                </div>
            </div>
            <ng-include src="ctrl.getTemplateUrl()"></ng-include>
        </div>
        <pre ng-if="_cookie.modeDebug === '1'">{{task|json}}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">취소</button>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.ok()">확인</button>
    </div>
</form>