<div style="padding-top:15px" ng-controller="project.step4.tasks.add.tqdbexecutor.ctrl">
    <reflector-type model="task" type-source="attrs_required_forced"></reflector-type>
    <reflector-type model="task" type-source="attrs_required"></reflector-type>
    <div class="form-group">
        <label class="control-label col-sm-2">Query</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="query" ng-model="task.query" style="min-height:150px"></textarea>
        </div>
    </div>
</div>