<form name="frmTaskAdd" novalidate form-check>
    <div class="modal-header">
        <h3 class="modal-title">Task 추가</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Task Plugin</label>
                <div class="col-sm-10">
                    <ui-select name="type" ng-disabled="mode === 'mod'" ng-model="task['@type']" required>
                        <ui-select-match>
                            <span>{{$select.selected}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (taskPlugins | filter:$select.search) track by $index">
                            <span>{{item}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <ng-include src="templateUrl"></ng-include>
        </div>
        <pre ng-if="_cookie.modeDebug === '1'">{{task|json}}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">취소</button>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.ok()">확인</button>
    </div>
</form>